.activeTrue{
    text-decoration: none;
    color: #ff57a6;
    
    
}
.activeFalse{
    text-decoration: none;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ff57a6;
}

li{
    list-style-type: none;
    margin: 15px;
    height: 23px;
    color: white;
}

a{
    text-decoration: none;
    line-height: 23px;
    font-family: FredokaOne-Regular;

}

body {
    margin: 0;
    padding: 0;
    border: 0;
}

iframe {
    justify-content: center;
    padding: 80px;

}

.carousel {
    width:900px;
 
    margin: auto;
    padding: 50px;
    background-color: #fee2f3;
    border-radius: 50px;

}
.carousel-item{
    /* height: 550px; */

}
.carousel-inner > .item > img {
    width:50%;
    max-height:360px;
    display: block;
  }




.myName{
    font-family: FredokaOne-Regular;
    font-size: 70px;
    text-align: center;
    margin-top: 150px;
    color: #FF93C5;
    padding-bottom: 50px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ff57a6;
}

.secTitle{
    font-family: FredokaOne-Regular;
    font-size: 50px;
    text-align: center;
    /* margin-top: 15%; */
    /* color: #FF93C5; */
    color: white;
    padding-bottom: 20px;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #ff57a6;
}

.simpleBox{
    width: 90%;
    max-width: 950px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    border: 1px solid #ff57a6;
    background:radial-gradient( 900px,#ff71b3,transparent);
    background-color: white;
    border-radius: 25px;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 5px 5px 20px #b8b8b8;

}

.simpleBox2{
    /* margin-top: 200px; */
    width: 90%;
    max-width: 3000px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    justify-content: center;
    border: 1px solid #ff57a6;
    background: #ffebf4;
    /* background:radial-gradient( 900px,#fdaad1,transparent); */
    /* background-color: white; */
    border-radius: 25px;
    display: flex;
    flex-wrap: wrap;
    

}

.simpleBox3{
    /* margin-top: 200px; */
    width: 90%;
    max-width: 3000px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;

    margin-top: 50px;
    margin-bottom: 30px;
    justify-content: center;
    border: 1px solid #ff57a6;
    background: #ffebf4;
    /* background:radial-gradient( 900px,#fdaad1,transparent); */
    /* background-color: white; */
    border-radius: 25px;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 5px 5px 20px #b8b8b8;

}

.selfPic{
    padding: 1%;
    max-width: 250px;
    max-height: 250px;
    border-radius: 50%;
    margin-top: 10%;
    margin-bottom: 10%;
    
}
.picSquare{
    padding: 1%;
    max-width: 350px;
    max-height: 350px;
    border-radius: 25px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    /* margin-top: 10%;
    margin-bottom: 10%; */
    flex-direction: column;
}

.selfIntro{
    font-family: FredokaOne-Regular;
    color: rgb(255, 255, 255);
    max-width: 500px;
    padding: 2%;
    text-align: center;
    font-size: 30px;
    flex-direction: column;
    margin-top: 10%;
    margin-bottom: 10%;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(104, 103, 103);
}

.sketch{
    max-width: 600px;
    max-height: 1022px;
    width: 40%;
    padding: 25px;

}
.sketch2{
    max-width: 900px;
    max-height: 1022px;
    width: 80%;
    padding: 25px;

}
.sketchDesc{
    font-family: Century Gothic, CenturyGothic,AppleGothic,sans-serif;
    max-width: 500px ;
    max-height: 200px;
    font-size: 17px;
    margin-bottom: 0px;
    text-align: center;
    /* padding-left: 25px;
    padding-right: 25px; */
    padding-top: 30px;
    padding-bottom: 30px;

}
.projPageTitle{
    font-family: FredokaOne-Regular;
    font-size: 50px;
    text-align: center;
    margin-top: 150px; 
    margin-bottom: 10px; 
    /* color: #FF93C5; */
    color: #ff57a6;
    padding-bottom: 20px;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #ff57a6;
}

.ProjTitle{
    font-family: Century Gothic, CenturyGothic,AppleGothic,sans-serif;
    font-size: 40px;
    padding: 2%;
    margin: 25px;
    /* flex-grow: 1; */
    text-align: center;
    
  
}
.projText{
    font-family: Century Gothic, CenturyGothic,AppleGothic,sans-serif;
    font-size: 18px;
    padding-right: 30px;
    padding-left: 30px;
    margin-top: 30px;
    margin-bottom: 0px;

}
.descContainer{
    max-width: 550px;
    display: flex;
    flex-direction: column;

}
@font-face {
    font-family: 'FredokaOne-Regular'; /*a name to be used later*/
    src: url('./FredokaOne-Regular.ttf'); /*URL to font*/
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');


