.activeTrue{
    text-decoration: none;
    color: #ff429a;
    
}
.activeFalse{
    text-decoration: none;
    color: #696969;
}


.myName{
    font-family: FredokaOne-Regular;
    font-size: 70px;
    text-align: center;
    margin-top: 150px;
    color: #FF93C5;
    padding-bottom: 50px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ff57a6;
}

.secTitle{
    font-family: FredokaOne-Regular;
    font-size: 50px;
    text-align: center;
    /* margin-top: 15%; */
    /* color: #FF93C5; */
    color: white;
    padding-bottom: 50px;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #ff57a6;
}

.simpleBox{
    width: 90%;
    max-width: 950px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    border: 1px solid #ff57a6;
    background:radial-gradient( 900px,#ff71b3,transparent);
    background-color: white;
    border-radius: 25px;
    display: flex;
    flex-wrap: wrap;

}

.simpleBox2{
    /* margin-top: 200px; */
    width: 90%;
    max-width: 3000px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    justify-content: center;
    border: 1px solid #ff57a6;
    background:radial-gradient( 900px,#fdaad1,transparent);
    background-color: white;
    border-radius: 25px;
    display: flex;
    flex-wrap: wrap;

}

.selfPic{
    padding: 1%;
    max-width: 250px;
    max-height: 250px;
    border-radius: 50%;
    margin-top: 10%;
    margin-bottom: 10%;
    flex-direction: column;
}

.selfIntro{
    font-family: FredokaOne-Regular;
    color: rgb(255, 255, 255);
    max-width: 500px;
    padding: 2%;
    text-align: center;
    font-size: 30px;
    flex-direction: column;
    margin-top: 10%;
    margin-bottom: 10%;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(104, 103, 103);
}

@font-face {
    font-family: 'FredokaOne-Regular'; /*a name to be used later*/
    src: url('./FredokaOne-Regular.ttf'); /*URL to font*/
}

